.Order{
    width: 80%;
    background-color:#0e1111 ;
    border:1px solid #40A4C8;
    box-shadow: rgb(106, 204, 243);
    padding:10px;
    display: block;
    margin:10px auto;
    box-sizing:border-box;
}