.Back{
	width:100%;
	background-color:#232b2b;
}
.Burger {
	padding-top: 5%;
	width:100%;
	height:335px;
	margin:auto;
	text-align:center;
	font-weight: bold;
	font-size:1.2rem;
	color: white;
}


@media (min-width: 500px) and (min-height:400px){
	.Burger{
		width:350px;
		height:335px;
	}
}

@media (min-width: 500px) and (min-height:401px){
	.Burger{
		width:450px;
		height:335px;
	}
}

@media (min-width: 1000px) and (min-height:700px){
	.Burger{
		width:700px;
		height:600px;
	}
}